
openapi: 3.1.0
info:
  title: Agentic Control Plane API
  version: 0.2.0
  summary: Policy, approval, execution, and audit APIs for governed agent actions
  description: |
    v0.2 extends the base control-plane lifecycle with richer, domain-specific schemas for:
      - Git and pull request actions
      - Deploy and cloud actions
      - Email and calendar actions
      - Payment and procurement actions

    Core lifecycle:
      intent -> policy decision -> approval (optional) -> execution grant -> execution -> trace

servers:
  - url: https://api.withaileron.ai
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Auth
  - name: Enterprises
  - name: Users
  - name: Intents
  - name: Approvals
  - name: Policies
  - name: Connectors
  - name: Actions
  - name: Bindings
    description: |
      Capability bindings: per-user mappings from a connector's declared
      `[capabilities.credential]` to a concrete vault entry that holds the
      bytes. Per ADR-0006, bindings are explicit (no silent matching),
      named `<kind>/<service>/<identity>`, and drive the credential the
      runtime injects into outbound requests at execution time. v1 supports
      `api_key` source values; OAuth source lands in #388.
  - name: Executions
  - name: Funding Sources
  - name: Credentials
  - name: Traces
  - name: Analytics
  - name: Connected Accounts
  - name: TEE
  - name: Health
  - name: Gateway
    description: |
      Dual-protocol LLM gateway. Aileron speaks both OpenAI Chat Completions
      and Anthropic Messages, augmenting the agent's tool catalog with the
      user's installed actions, intercepting tool calls for those actions,
      executing them deterministically, and injecting the synthesized
      result back into the response stream. Behavior is ratified by
      ADR-0008 (intent matching).

paths:
  /v1/health:
    get:
      tags: [Health]
      summary: Get service health
      operationId: getHealth
      security: []
      responses:
        "200":
          description: Service health
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /v1/status:
    get:
      tags: [Health]
      summary: Get runtime status (version, listen address, action / connector / binding counts, vault state)
      description: |
        Read-only snapshot of the running daemon's state, ratified by
        ADR-0004's "operational primitives" line. Surfaced through the
        `aileron status` CLI and as the in-band `/aileron status`
        agent slash-command per ADR-0009. Safe to call frequently —
        no side effects, no vault unlock, no lookups outside the
        process's in-memory state.

        Distinct from `GET /v1/health` (which is a liveness probe).
        `/v1/status` is the operator's "what's installed and working"
        snapshot.
      operationId: getStatus
      security: []
      responses:
        "200":
          description: Runtime status snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"

  /auth/{provider}/login:
    get:
      tags: [Auth]
      summary: Initiate OAuth login
      description: Redirects the user to the specified auth provider's consent screen.
      operationId: authLogin
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            examples: [google, github]
      responses:
        "307":
          description: Redirect to auth provider
        "400":
          $ref: "#/components/responses/BadRequest"

  /auth/{provider}/callback:
    get:
      tags: [Auth]
      summary: OAuth callback
      description: |
        Handles the OAuth callback from the auth provider. Exchanges the
        authorization code for user identity, creates or looks up the user
        and enterprise, issues session tokens, and redirects to the UI.
      operationId: authCallback
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        "307":
          description: Redirect to UI with session cookies set
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /auth/signup:
    post:
      tags: [Auth]
      summary: Sign up with email and password
      description: |
        Creates a new account with email and password. The account starts in
        pending_verification status. A 6-digit verification code is sent to
        the email address and must be submitted via /auth/verify-email before
        the account can be used.
      operationId: authSignup
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupRequest"
      responses:
        "201":
          description: Account created, verification code sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignupResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"

  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Verify email address
      description: |
        Submits the 6-digit verification code sent to the user's email.
        On success, the account status changes from pending_verification to active.
      operationId: authVerifyEmail
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyEmailRequest"
      responses:
        "200":
          description: Email verified, account activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyEmailResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /auth/login:
    post:
      tags: [Auth]
      summary: Log in with email and password
      description: Authenticates with email and password and returns an access token.
      operationId: authEmailLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailLoginRequest"
      responses:
        "200":
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      description: Exchanges a refresh token for a new access token. The refresh token is rotated.
      operationId: authRefresh
      security: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
      responses:
        "200":
          description: New access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshTokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/logout:
    post:
      tags: [Auth]
      summary: Log out
      description: Deletes the session and clears authentication cookies.
      operationId: authLogout
      security: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LogoutResponse"

  /v1/enterprises/me:
    get:
      tags: [Enterprises]
      summary: Get current enterprise
      description: Returns the enterprise for the authenticated user.
      operationId: getCurrentEnterprise
      responses:
        "200":
          description: Current enterprise
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
        "401":
          $ref: "#/components/responses/Unauthorized"

    patch:
      tags: [Enterprises]
      summary: Update current enterprise
      description: Updates the authenticated user's enterprise. Requires owner or admin role.
      operationId: updateCurrentEnterprise
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnterpriseRequest"
      responses:
        "200":
          description: Enterprise updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/users/me:
    get:
      tags: [Users]
      summary: Get current user
      description: Returns the authenticated user's profile.
      operationId: getCurrentUser
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"

    patch:
      tags: [Users]
      summary: Update current user
      description: Updates the authenticated user's profile.
      operationId: updateCurrentUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
      responses:
        "200":
          description: User updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/users/me/auth-providers/{provider}:
    delete:
      tags: [Users]
      summary: Disconnect an auth provider
      description: |
        Removes an OAuth identity provider link from the current user's account.
        Cannot disconnect the last auth method — the user must have another
        connected provider or a password set.
      operationId: disconnectAuthProvider
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
          description: Provider name to disconnect (e.g. google, github)
      responses:
        "204":
          description: Provider disconnected
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/users/me/passphrase:
    post:
      tags: [Users]
      summary: Set or rotate vault passphrase
      description: |
        Stores the client-provided salt and KEK verification blob. The client
        derives the KEK locally using Argon2id, encrypts a known verification
        constant, and sends only the salt and encrypted blob — the passphrase
        and KEK never leave the browser. On subsequent calls, the existing key
        material is rotated (callers must re-encrypt vault secrets separately).
      operationId: setPassphrase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetPassphraseRequest"
      responses:
        "200":
          description: Passphrase set successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PassphraseSaltResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/users/me/passphrase/verification:
    get:
      tags: [Users]
      summary: Get KEK verification blob
      description: |
        Returns the encrypted verification blob for client-side passphrase
        verification. The client derives the KEK locally from the passphrase
        and salt, then decrypts this blob to check correctness. The server
        never sees the passphrase or KEK.
      operationId: getPassphraseVerification
      responses:
        "200":
          description: Verification blob
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PassphraseVerificationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/users/me/passphrase/salt:
    get:
      tags: [Users]
      summary: Get passphrase salt
      description: |
        Returns the Argon2id salt for the current user's passphrase, allowing
        client-side KEK derivation. Also indicates whether the user has set a
        passphrase.
      operationId: getPassphraseSalt
      responses:
        "200":
          description: Salt and passphrase status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PassphraseSaltResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/users/me/passphrase/unlock:
    post:
      tags: [Users]
      summary: Unlock vault with passphrase-derived KEK
      description: |
        The client derives the KEK locally from the passphrase and stored salt
        using Argon2id, then sends the 32-byte KEK to the server over HTTPS.
        The server verifies it against the stored verification blob, and on
        success caches the KEK in memory for the session TTL. Tokens can only
        be encrypted or decrypted while the vault is unlocked.
      operationId: unlockVault
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnlockVaultRequest"
      responses:
        "200":
          description: Vault unlocked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/users/me/passphrase/lock:
    post:
      tags: [Users]
      summary: Lock vault and clear cached KEK
      description: |
        Clears the user's cached KEK from server memory. Connected account
        operations will return 423 until the vault is unlocked again.
      operationId: lockVault
      responses:
        "200":
          description: Vault locked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/users/me/vault/status:
    get:
      tags: [Users]
      summary: Get vault lock status
      description: |
        Returns whether the vault is locked or unlocked, the session expiry
        time, and whether the user has set a passphrase.
      operationId: getVaultStatus
      responses:
        "200":
          description: Vault status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/intents:
    post:
      tags: [Intents]
      summary: Submit a new action intent
      operationId: createIntent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIntentRequest"
            examples:
              gitPullRequest:
                summary: Create a pull request
                value:
                  idempotency_key: "23d6f3ab-7ef9-433e-bd2e-0c6af4bb1001"
                  agent_id: "agt_codex_repo_alpha"
                  workspace_id: "ws_engineering"
                  action:
                    type: "git.pull_request.create"
                    summary: "Open PR from feature branch to main"
                    justification: "Ship checkout bug fix"
                    target:
                      kind: "repository"
                      id: "repo_checkout"
                      display_name: "github.com/acme/checkout"
                    domain:
                      git:
                        provider: "github"
                        repository: "acme/checkout"
                        branch: "fix/checkout-tax-rounding"
                        base_branch: "main"
                        commit_shas:
                          - "abc1234"
                        files_changed:
                          - "src/tax.ts"
                          - "tests/tax.test.ts"
                        pr_title: "Fix tax rounding on checkout"
                        pr_body: "This PR fixes checkout tax rounding and adds regression tests."
                        labels: ["bugfix", "checkout"]
                  context:
                    environment: "production"
                    source_platform: "codex"
              paymentPurchase:
                summary: Purchase SaaS subscription
                value:
                  idempotency_key: "89967c5b-0340-4781-aa0c-8cde2ef41002"
                  agent_id: "agt_procurement_ops"
                  workspace_id: "ws_finops"
                  action:
                    type: "payment.charge"
                    summary: "Purchase annual Figma license"
                    justification: "Renew expiring seat for jane@company.com"
                    target:
                      kind: "vendor"
                      id: "vendor_figma"
                      display_name: "Figma"
                    domain:
                      payment:
                        vendor_name: "Figma"
                        amount:
                          amount: 18000
                          currency: "USD"
                        merchant_category: "software"
                        budget_code: "design-software"
                        funding_source_id: "fs_team_software"
                        payment_instrument_preference: "virtual_card"
                        line_items:
                          - description: "Figma Pro Annual"
                            quantity: 1
                            unit_amount:
                              amount: 18000
                              currency: "USD"
                        beneficiary:
                          email: "jane@company.com"
                  context:
                    environment: "production"
                    source_platform: "openclaw"
      responses:
        "201":
          description: Intent created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntentEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"

    get:
      tags: [Intents]
      summary: List intents
      operationId: listIntents
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: workspace_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/IntentStatus"
        - name: action_type
          in: query
          schema:
            type: string
        - name: agent_id
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated intents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntentListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/intents/{intent_id}:
    get:
      tags: [Intents]
      summary: Get an intent
      operationId: getIntent
      parameters:
        - $ref: "#/components/parameters/IntentId"
      responses:
        "200":
          description: Intent details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntentEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/intents/{intent_id}/evidence:
    post:
      tags: [Intents]
      summary: Attach evidence to an intent
      operationId: appendIntentEvidence
      parameters:
        - $ref: "#/components/parameters/IntentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppendEvidenceRequest"
      responses:
        "200":
          description: Evidence appended
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntentEnvelope"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/action-approvals:
    get:
      tags: [Approvals]
      summary: List pending action-level approval requests
      description: |
        Returns the queue of pending approvals minted by the runtime
        when an action whose manifest declares `[approval] required = true`
        is invoked. Distinct from the rich governance flow under
        `/v1/approvals` (intents, multi-approver workflows, execution
        grants) — this surface is the runtime-blocking shape: each
        entry corresponds to one held-open `POST /v1/actions/{name}/run`
        response waiting for a single yes/no decision.

        v0.x is in-memory and per-process; the queue resets on server
        restart. Persistent backing parallels the audit-log persistence
        work (#412).
      operationId: listActionApprovals
      responses:
        "200":
          description: Pending action-approval queue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionApprovalListResponse"

  /v1/action-approvals/watch:
    get:
      tags: [Approvals]
      summary: Stream action-level approval queue events (Server-Sent Events)
      description: |
        Server-Sent Events stream of action-approval queue state. The
        webapp's `/approvals` page subscribes here so the pending list
        updates live without polling.

        On connect the server emits a single `snapshot` event with the
        current pending queue, then one event per state change:

        - `event: snapshot` — `{ items: [PendingActionApproval, ...] }`
          (the same shape `GET /v1/action-approvals` returns).
        - `event: pending` — one `PendingActionApproval` payload, fired
          when the runtime registers a new approval.
        - `event: resolved` — one `ResolvedActionApproval` payload,
          fired when `POST /v1/action-approvals/{id}/decide` resolves
          an entry. The webapp uses this to drop the matching card.

        A SSE comment line (`: heartbeat\n\n`) is sent every 30 seconds
        to keep the connection alive across idle proxies. The stream
        ends when the client disconnects or the server shuts down.

        Per-subscriber buffer is finite (32 events); a slow consumer
        drops events past the buffer. Clients should resync via
        `GET /v1/action-approvals` on reconnect to recover from any
        gap.
      operationId: watchActionApprovals
      responses:
        "200":
          description: SSE event stream
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  Sequence of SSE events. Each event is `event: <type>\ndata: <json>\n\n`.
                  See description for the per-type payload shapes.
        "503":
          description: The action-approval queue is not configured on this server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/action-approvals/{approval_id}/decide:
    post:
      tags: [Approvals]
      summary: Approve or deny a pending action-level approval
      description: |
        Resolves a pending action-level approval. The runtime's
        held-open `POST /v1/actions/{name}/run` response unblocks on
        the next tick; on `approved = true` the action proceeds and
        returns its normal result, on `approved = false` it returns
        an `approval_denied` failure envelope per ADR-0010 with the
        supplied reason.
      operationId: decideActionApproval
      parameters:
        - name: approval_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActionApprovalDecision"
      responses:
        "200":
          description: Decision recorded
        "404":
          description: Approval id is unknown or already resolved.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/approvals:
    get:
      tags: [Approvals]
      summary: List approval requests
      operationId: listApprovals
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: workspace_id
          in: query
          required: true
          schema:
            type: string
        - name: assignee
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Approval queue
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/approvals/{approval_id}:
    get:
      tags: [Approvals]
      summary: Get an approval request
      operationId: getApproval
      parameters:
        - $ref: "#/components/parameters/ApprovalId"
      responses:
        "200":
          description: Approval details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Approval"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/approvals/{approval_id}/approve:
    post:
      tags: [Approvals]
      summary: Approve an action
      operationId: approveRequest
      parameters:
        - $ref: "#/components/parameters/ApprovalId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApproveRequest"
      responses:
        "200":
          description: Approval recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalActionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/approvals/{approval_id}/deny:
    post:
      tags: [Approvals]
      summary: Deny an action
      operationId: denyRequest
      parameters:
        - $ref: "#/components/parameters/ApprovalId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DenyRequest"
      responses:
        "200":
          description: Denial recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalActionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/approvals/{approval_id}/modify:
    post:
      tags: [Approvals]
      summary: Approve with modifications
      operationId: modifyRequest
      parameters:
        - $ref: "#/components/parameters/ApprovalId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyApprovalRequest"
      responses:
        "200":
          description: Modification recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApprovalActionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/policies:
    get:
      tags: [Policies]
      summary: List policies
      operationId: listPolicies
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: workspace_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Policies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Policies]
      summary: Create a policy
      operationId: createPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePolicyRequest"
      responses:
        "201":
          description: Policy created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/policies/{policy_id}:
    get:
      tags: [Policies]
      summary: Get a policy
      operationId: getPolicy
      parameters:
        - $ref: "#/components/parameters/PolicyId"
      responses:
        "200":
          description: Policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Policies]
      summary: Update a policy
      operationId: updatePolicy
      parameters:
        - $ref: "#/components/parameters/PolicyId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePolicyRequest"
      responses:
        "200":
          description: Policy updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/policies/simulate:
    post:
      tags: [Policies]
      summary: Simulate policy evaluation
      operationId: simulatePolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PolicySimulationRequest"
      responses:
        "200":
          description: Simulation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicySimulationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/connectors:
    get:
      tags: [Connectors]
      summary: List connectors
      operationId: listConnectors
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: workspace_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Connectors
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Connectors]
      summary: Register a connector
      operationId: createConnector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConnectorRequest"
      responses:
        "201":
          description: Connector created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connector"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/connectors/{connector_id}:
    get:
      tags: [Connectors]
      summary: Get a connector
      operationId: getConnector
      parameters:
        - $ref: "#/components/parameters/ConnectorId"
      responses:
        "200":
          description: Connector details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connector"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Connectors]
      summary: Update a connector
      operationId: updateConnector
      parameters:
        - $ref: "#/components/parameters/ConnectorId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConnectorRequest"
      responses:
        "200":
          description: Connector updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Connector"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/sync:
    post:
      tags: [Sync]
      summary: Reconcile installed actions with their declared connector dependencies
      description: |
        Per ADR-0004 §"sync, check, status": walks every action in
        `~/.aileron/actions/`, collects the unique connector references
        each one declares in `[[requires.connectors]]`, and runs the
        install pipeline for any connector that isn't already in the
        cstore.

        Also enumerates the `[capabilities.credential]` block of every
        installed connector and cross-references it against existing
        bindings — capabilities with no matching binding are surfaced
        as "unbound" so the operator knows what they still need to set
        up with `aileron binding setup <FQN>`.

        Idempotent: re-running with no source changes is a no-op
        (every connector already installed → empty `installed`; every
        capability already bound → empty `unbound`).

        Per-connector install failures (resolver/fetcher/verifier
        errors) are surfaced inside `install_failures` and do not
        abort the sweep — the same "offline-failing per connector"
        contract that `GET /v1/connectors/check` honors.
      operationId: sync
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncRequest"
      responses:
        "200":
          description: Sync completed (per-connector install failures inside `install_failures`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/connectors/check:
    get:
      tags: [Connectors]
      summary: Check installed connectors for newer versions
      description: |
        Walks every (FQN, version) pair in the cstore index and queries
        each connector's source for newer versions. Read-only — does
        not mutate the store.

        Per the ADR-0004 acceptance test "offline-failing per
        connector", a single source that's unreachable does not abort
        the sweep: that result carries an `error` and the response
        still lists results for every other connector.

        By default pre-release versions (SemVer 2.0
        `<major>.<minor>.<patch>-<suffix>`) are excluded from
        `available_versions` and the `latest_version` selection. Set
        `include_prerelease=true` to include them.

        Today only the `github://` scheme has a wired version lister.
        Connectors using `gitlab://` or `hub://` schemes will surface
        a per-connector "not yet implemented" error until those
        listers ship — they don't break the rest of the check.
      operationId: checkConnectors
      parameters:
        - name: include_prerelease
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include pre-release versions when computing the latest version.
      responses:
        "200":
          description: Check completed (per-connector errors are inside `results[].error`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorsCheckResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/connectors/install:
    post:
      tags: [Connectors]
      summary: Install a connector into the content-addressed store
      description: |
        Runs the install pipeline (per ADR-0004) for the given FQN+version
        reference: resolve fetch URL → download tarball → verify signature
        against keys associated with the FQN authority → compute SHA-256
        of `binary || manifest` → match against `expected_hash` when
        supplied → atomic rename into `~/.aileron/store/connectors/sha256/<hash>/`
        → update the FQN+version → hash index.

        Per ADR-0010, every failure produces a structured error: hash
        mismatch, signature failure, malformed tarball, fetch failure,
        unknown scheme, etc. Nothing is written to the store on failure.
      operationId: installConnector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstallConnectorRequest"
      responses:
        "200":
          description: Installation succeeded (the entry was already present)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstalledConnector"
        "201":
          description: Installation succeeded (new entry written to the store)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstalledConnector"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          description: Install pipeline failed (hash mismatch, signature failure, malformed tarball, etc.)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/actions/install:
    post:
      tags: [Actions]
      summary: Install an action template into the user's actions directory
      description: |
        Runs the action install pipeline (parallels ADR-0004's connector
        install) for the given FQN+version reference: resolve fetch URL →
        download tarball → optionally verify ed25519 signature against the
        publisher's keys → extract `action.md` → parse + validate → confirm
        every `[[requires.connectors]]` entry is already installed in the
        cstore → copy to `~/.aileron/actions/<name>.md`.

        Per ADR-0003 the user owns the file post-install; this endpoint is
        equivalent to `aileron action add <FQN>@<version>`. Refuses to
        clobber an existing action with the same name unless `force: true`.

        v1 makes action signing optional: an action tarball with no
        `signature.sig` installs (with a debug log) so publishers can ship
        templates before signing infrastructure is wired. Mandatory
        signing lands with the install consent flow (#363).

        On any failure the on-disk state is unchanged. Structured failures
        per ADR-0010: `binding_required` is not raised here; signature
        failures bubble as `signature_failure`; missing connector deps
        bubble as `connectors_missing` with `error.details[]` listing the
        FQN, version, and hash of each missing connector. Setting
        `auto_install_connectors: true` on the request transparently
        installs the missing connectors before the action install
        proceeds.
      operationId: installAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstallActionRequest"
      responses:
        "200":
          description: Action was already present (no overwrite)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstalledAction"
        "201":
          description: Action installed (new file written)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstalledAction"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          description: |
            Install pipeline failed. `error.code` is one of
            `signature_failure`, `connectors_missing` (with structured
            `MissingConnector` entries in `details[]`), `validation_error`,
            or any other structured class from the underlying connector
            install pipeline (e.g. `hash_mismatch`, `fetch_failed`) when
            `auto_install_connectors: true` triggers an implicit
            connector install that fails.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/actions:
    get:
      tags: [Actions]
      summary: List installed actions
      description: |
        Lists actions installed in the user's `~/.aileron/actions/` directory
        (per ADR-0003). Each entry carries identity and dependency metadata
        without the full Markdown body — use `GET /v1/actions/{name}` for the
        complete manifest.

        Per ADR-0010, files that fail to parse or validate at load time are
        not silently dropped: the `load_errors` field surfaces a structured
        error per offending file with the file path and (when known) the
        line number where parsing failed.
      operationId: listActions
      responses:
        "200":
          description: Installed actions plus any per-file load errors
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/actions/{name}:
    get:
      tags: [Actions]
      summary: Get an installed action by name
      description: |
        Returns the full parsed manifest of an installed action plus its
        Markdown body. The body is the LLM-facing function description per
        ADR-0001 and ADR-0003.
      operationId: getAction
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Action manifest and body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Action"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/actions/{name}/run:
    post:
      tags: [Actions]
      summary: Execute an installed action synchronously
      description: |
        Synchronously executes an installed action by name with the
        supplied arguments. Used by `cmd/aileron-mcp` to route MCP
        `tools/call` invocations to Aileron's action runtime when MCP is
        the canonical surface for action exposure.

        Per ADR-0010 and ADR-0011, the runtime requires an unlocked
        vault before any action can resolve its bound credentials; calls
        against a locked vault fail with `binding_required`.

        Action-side failures (capability denied, binding required,
        connector runtime error, etc.) are returned as a 4xx/5xx
        FailureEnvelope per ADR-0010 — callers should branch on the
        envelope's `class` field to decide how to surface the failure
        to their caller. The 200 response carries a successful Result
        whose `result` is the action's output payload.
      operationId: runAction
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActionRunRequest"
      responses:
        "200":
          description: Action executed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionRunResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "412":
          description: Vault locked or required binding missing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureEnvelope"
        "500":
          description: Connector or runtime error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureEnvelope"
        "502":
          description: Network or external API error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureEnvelope"

  /v1/bindings:
    get:
      tags: [Bindings]
      summary: List capability bindings
      description: |
        Lists every binding the user has created. Per ADR-0011, listing is
        plaintext metadata — the credential bytes are not decrypted and the
        endpoint does not require the vault to be unlocked.

        Optional filters narrow the result by connector or kind. When both
        are supplied, the response identifies which bindings would be
        considered for that connector at execution time (the same set
        `Resolve` walks).
      operationId: listBindings
      parameters:
        - name: connector_fqn
          in: query
          required: false
          schema:
            type: string
          description: Restrict to bindings created for the given connector FQN.
        - name: kind
          in: query
          required: false
          schema:
            type: string
          description: Restrict to bindings of the given credential kind (e.g. `api_key`).
      responses:
        "200":
          description: List of bindings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BindingListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/bindings/{name}:
    get:
      tags: [Bindings]
      summary: Inspect a single binding
      description: |
        Returns plaintext metadata for the named binding. Does not require
        an unlocked vault. The credential bytes are never returned.
      operationId: getBinding
      parameters:
        - $ref: "#/components/parameters/BindingName"
      responses:
        "200":
          description: Binding metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Binding"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Bindings]
      summary: Revoke a binding
      description: |
        Deletes the binding's vault entry. Subsequent action invocations
        that needed this binding will fail with `binding_required` until a
        replacement is created via `POST /v1/bindings/setup`.
      operationId: revokeBinding
      parameters:
        - $ref: "#/components/parameters/BindingName"
      responses:
        "204":
          description: Binding revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "423":
          $ref: "#/components/responses/VaultLocked"

  /v1/bindings/setup:
    post:
      tags: [Bindings]
      summary: Create one or more bindings for a connector
      description: |
        Walks the connector's declared `[capabilities.credential]` blocks
        and creates a binding for each requested capability. v1 accepts
        only `api_key` sources; OAuth sources are rejected with `400` per
        the deferral noted in #388 — use the OAuth-binding flow once it
        lands.

        The vault must be unlocked; locked vaults return `423`.
      operationId: setupBindings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BindingSetupRequest"
      responses:
        "201":
          description: Bindings created (or already present and skipped)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BindingSetupResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "423":
          $ref: "#/components/responses/VaultLocked"

  /v1/bindings/setup/oauth2/init:
    post:
      tags: [Bindings]
      summary: Begin an OAuth2 binding flow
      description: |
        Starts the OAuth2 dance for a connector that declares
        `[capabilities.credential] kind = "oauth2"`. The server reads
        the connector's installed manifest, generates a PKCE verifier
        + challenge + state, holds them in an in-memory session keyed
        by an opaque session_id (TTL 10 minutes), and returns the
        authorize URL the caller should direct the user's browser to.

        The PKCE verifier never crosses the wire; only the challenge
        appears in the authorize URL. The session_id is the handle the
        caller uses to complete the flow via `oauth2/finish`.

        The caller is responsible for opening the user's browser to
        `authorize_url` and serving the loopback callback at
        `redirect_uri`. The connector's OAuth app must register
        `http://localhost` as a redirect URI (loopback-only in v1 per
        ADR-0002).
      operationId: initOAuth2Binding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuth2InitRequest"
      responses:
        "200":
          description: OAuth flow initialized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuth2InitResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Connector does not declare an OAuth2 capability
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /v1/bindings/setup/oauth2/finish:
    post:
      tags: [Bindings]
      summary: Complete an OAuth2 binding flow
      description: |
        Exchanges an authorization code for tokens and persists the
        resulting OAuth2 binding. Looks up the session created by
        `oauth2/init` (verifier + state stored server-side), validates
        the returned `state`, posts a code-exchange request to the
        connector's `token_url`, and writes the resulting tokens as a
        binding in the user's vault.

        Returns the standard `Binding` envelope on success. The
        session is cleared on success, on validation failure, and on
        TTL expiry (10 minutes).

        The vault must be unlocked.
      operationId: finishOAuth2Binding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuth2FinishRequest"
      responses:
        "201":
          description: Binding created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Binding"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          description: Session not found or expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          description: Token exchange failed at the provider
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "423":
          $ref: "#/components/responses/VaultLocked"

  /v1/bindings/{name}/rebind:
    post:
      tags: [Bindings]
      summary: Replace the credential value of an existing binding
      description: |
        Keeps the binding's identity (name, connector, kind, scope) and
        replaces the underlying credential bytes. Used after a key
        rotation. v1 accepts only `api_key` sources.

        The vault must be unlocked; locked vaults return `423`.
      operationId: rebindBinding
      parameters:
        - $ref: "#/components/parameters/BindingName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RebindRequest"
      responses:
        "200":
          description: Binding rebound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Binding"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "423":
          $ref: "#/components/responses/VaultLocked"

  /v1/execution-grants/{grant_id}:
    get:
      tags: [Executions]
      summary: Get an execution grant
      operationId: getExecutionGrant
      parameters:
        - $ref: "#/components/parameters/GrantId"
      responses:
        "200":
          description: Execution grant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionGrant"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/executions/run:
    post:
      tags: [Executions]
      summary: Execute an approved action
      operationId: runExecution
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecutionRunRequest"
      responses:
        "202":
          description: Execution accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionRunResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/executions/{execution_id}:
    get:
      tags: [Executions]
      summary: Get execution status
      operationId: getExecution
      parameters:
        - $ref: "#/components/parameters/ExecutionId"
      responses:
        "200":
          description: Execution details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Execution"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/executions/{execution_id}/callback:
    post:
      tags: [Executions]
      summary: Post execution callback
      operationId: executionCallback
      parameters:
        - $ref: "#/components/parameters/ExecutionId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecutionCallbackRequest"
      responses:
        "200":
          description: Callback recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Execution"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/funding-sources:
    get:
      tags: [Funding Sources]
      summary: List funding sources
      operationId: listFundingSources
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: workspace_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Funding sources
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FundingSourceListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Funding Sources]
      summary: Create a funding source
      operationId: createFundingSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFundingSourceRequest"
      responses:
        "201":
          description: Funding source created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FundingSource"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/credentials:
    get:
      tags: [Credentials]
      summary: List credential references
      operationId: listCredentials
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: workspace_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      tags: [Credentials]
      summary: Register a credential reference
      operationId: createCredential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCredentialRequest"
      responses:
        "201":
          description: Credential created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CredentialReference"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/traces:
    get:
      tags: [Traces]
      summary: List traces
      operationId: listTraces
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: workspace_id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Traces
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TraceListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/analytics/summary:
    get:
      tags: [Analytics]
      summary: Get analytics summary
      operationId: getAnalyticsSummary
      parameters:
        - name: workspace_id
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Analytics summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalyticsSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/connected-accounts:
    get:
      tags: [Connected Accounts]
      summary: List the current user's connected external accounts
      operationId: listConnectedAccounts
      responses:
        "200":
          description: List of connected accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/ConnectedAccount"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/connected-accounts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Connected Accounts]
      summary: Get a connected account
      operationId: getConnectedAccount
      responses:
        "200":
          description: Connected account details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectedAccount"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Connected Accounts]
      summary: Disconnect an external account
      operationId: deleteConnectedAccount
      responses:
        "204":
          description: Account disconnected
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /v1/connect/{provider}:
    parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum: [gmail, google_calendar, outlook, microsoft_calendar, slack, github_repos]
        description: External service provider to connect
    get:
      tags: [Connected Accounts]
      summary: Initiate OAuth flow to connect an external account
      operationId: connectAccount
      description: Redirects the user to the provider's OAuth consent screen with service-specific scopes.
      security: []
      parameters:
        - name: return_to
          in: query
          required: false
          schema: { type: string }
          description: URL to redirect to after the account is connected. Must be a same-site absolute URL or a relative path. Defaults to /settings/connected-accounts.
      responses:
        "302":
          description: Redirect to provider consent screen
        "400":
          $ref: "#/components/responses/BadRequest"
        "423":
          $ref: "#/components/responses/VaultLocked"

  /v1/connect/{provider}/callback:
    parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum: [gmail, google_calendar, outlook, microsoft_calendar, slack, github_repos]
    get:
      tags: [Connected Accounts]
      summary: Handle OAuth callback for account connection
      operationId: connectAccountCallback
      security: []
      parameters:
        - name: code
          in: query
          required: true
          schema: { type: string }
        - name: state
          in: query
          required: false
          schema: { type: string }
      responses:
        "302":
          description: Redirect to connected accounts page on success

  /v1/tee/status:
    get:
      tags: [TEE]
      summary: Get TEE status
      operationId: getTeeStatus
      security: []
      responses:
        "200":
          description: TEE configuration and session status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeeStatus"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /v1/tee/attestation:
    post:
      tags: [TEE]
      summary: Initiate remote attestation
      operationId: initiateAttestation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TeeAttestationRequest"
      responses:
        "200":
          description: Attestation evidence from the enclave
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeeAttestationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          description: TEE not enabled

  /v1/tee/jwks:
    get:
      tags: [TEE]
      summary: Get JWKS for attestation token verification
      description: |
        Proxies the Google Confidential Space JWKS endpoint so that browser
        clients can verify attestation JWT signatures without CORS issues.
        Keys are cached server-side for 1 hour.
      operationId: getTeeJwks
      security: []
      responses:
        "200":
          description: JSON Web Key Set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Jwks"
        "502":
          description: Failed to fetch JWKS from upstream

  /v1/tee/session:
    post:
      tags: [TEE]
      summary: Establish TEE session and transmit KEK
      description: |
        Accepts the client's ephemeral ECDH public key and an encrypted KEK
        blob. The server forwards both to the enclave as an opaque pass-through
        — it cannot derive the shared secret or decrypt the KEK. The enclave
        performs the ECDH key exchange, decrypts the KEK, and stores it in
        hardware-isolated memory. Auto-escrows active credentials on success.
      operationId: establishTeeSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TeeSessionRequest"
      responses:
        "200":
          description: Session established and KEK transmitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeeSessionResponse"
        "400":
          description: Key exchange or KEK transmission failure
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          description: TEE not enabled

  /v1/chat/completions:
    post:
      tags: [Gateway]
      summary: OpenAI-compatible chat completions endpoint
      description: |
        Aileron's transparent dual-protocol LLM gateway. Drop-in replacement
        for `https://api.openai.com/v1/chat/completions`: an agent that
        worked unchanged against OpenAI's endpoint works unchanged when its
        base URL is pointed at this server.

        Behavior, ratified by ADR-0008 (intent matching):

        - **Tool augmentation.** Aileron reads the user's installed actions
          from `~/.aileron/actions/`, derives a function definition for each
          (name, description from the action's Markdown body, parameter
          schema from declared inputs), and appends them to the request's
          `tools` array before forwarding upstream. The agent's declared
          tools are preserved unchanged — augmentation is additive only.
        - **Tool name collisions.** When an installed action's name collides
          with an agent-declared tool, the agent's tool wins; Aileron
          renames its action with the reserved `aileron.` prefix in the
          forwarded request. An agent-declared tool whose name already uses
          the `aileron.` prefix is renamed to `agent.<original-name>` and
          a warning is logged.
        - **Tool-call interception.** When the upstream LLM emits a tool
          call whose name matches an Aileron-augmented action, Aileron
          executes the action deterministically (per ADR-0003), constructs
          a `tool` message containing the result, and injects it back into
          the response. Tool calls for agent-declared tools pass through
          unchanged for the agent's host code to execute.
        - **Streaming preservation.** Both streaming (`stream: true`) and
          non-streaming modes are supported. In streaming mode, intermediate
          tool-call deltas for Aileron-augmented actions are buffered until
          the call is structurally complete; partial frames are never
          emitted to the agent. After Aileron executes the action, the
          stream resumes with a synthetic tool-result frame followed by
          the upstream LLM's continuation.

        Authentication: this endpoint forwards the request's `Authorization`
        header to the upstream provider unchanged; Aileron does not require
        its own bearer token. The upstream provider is selected by runtime
        configuration.
      operationId: postChatCompletions
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
      responses:
        "200":
          description: |
            Chat completion response. Content-Type is
            `text/event-stream` when the request set `stream: true`,
            otherwise `application/json`. Body shape, status code, and
            response headers are forwarded from the upstream provider
            unchanged other than hop-by-hop headers stripped by the
            proxy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
            text/event-stream:
              schema:
                type: string
                description: |
                  Server-sent event stream of `ChatCompletionStreamChunk`
                  JSON objects (one per `data:` frame), terminated by
                  `data: [DONE]`.
        "400":
          $ref: "#/components/responses/Failure"
        "401":
          $ref: "#/components/responses/Failure"
        "502":
          description: |
            Upstream provider request failed (network error, TLS error,
            or unreachable host). Upstream-returned 4xx/5xx statuses
            propagate with their original status code; this 502 is for
            failures Aileron observed before/around the upstream
            transaction. Body is a `FailureEnvelope` per ADR-0010.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureEnvelope"
        "503":
          description: |
            Gateway upstream is not configured for this protocol. Set
            `AILERON_OPENAI_BASE_URL` (or rely on the default
            `https://api.openai.com`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureEnvelope"

  /v1/messages:
    post:
      tags: [Gateway]
      summary: Anthropic-compatible messages endpoint
      description: |
        Aileron's transparent dual-protocol LLM gateway. Drop-in replacement
        for `https://api.anthropic.com/v1/messages`: an agent that worked
        unchanged against Anthropic's endpoint works unchanged when its
        base URL is pointed at this server.

        Behavior matches `/v1/chat/completions` (tool augmentation,
        collisions, tool-call interception, streaming preservation) —
        see that endpoint's description. Differences are
        provider-specific shapes only:

        - Tools are appended to the Anthropic-shape `tools` array
          (`{ name, description, input_schema }`), not the OpenAI-shape
          function-wrapped form.
        - Tool calls arrive and are emitted as `tool_use` content blocks
          on assistant messages; tool results are injected as
          `tool_result` content blocks on user messages, per Anthropic's
          conversation contract.
        - Streaming uses Anthropic's event types (`message_start`,
          `content_block_start`, `content_block_delta`, etc.); buffering
          for Aileron-augmented `tool_use` blocks holds until the block
          is structurally complete.

        Authentication: this endpoint forwards the request's `x-api-key`
        and `anthropic-version` headers to the upstream provider unchanged.
      operationId: postMessages
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessagesRequest"
      responses:
        "200":
          description: |
            Messages response. Content-Type is `text/event-stream` when
            the request set `stream: true`, otherwise `application/json`.
            Body shape, status code, and response headers are forwarded
            from the upstream provider unchanged other than hop-by-hop
            headers stripped by the proxy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessagesResponse"
            text/event-stream:
              schema:
                type: string
                description: |
                  Server-sent event stream of Anthropic Messages stream
                  events (`message_start`, `content_block_start`,
                  `content_block_delta`, `content_block_stop`,
                  `message_delta`, `message_stop`).
        "400":
          $ref: "#/components/responses/Failure"
        "401":
          $ref: "#/components/responses/Failure"
        "502":
          description: |
            Upstream provider request failed (network error, TLS error,
            or unreachable host). Upstream-returned 4xx/5xx statuses
            propagate with their original status code; this 502 is for
            failures Aileron observed before/around the upstream
            transaction. Body is a `FailureEnvelope` per ADR-0010.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureEnvelope"
        "503":
          description: |
            Gateway upstream is not configured for this protocol. Set
            `AILERON_ANTHROPIC_BASE_URL` (or rely on the default
            `https://api.anthropic.com`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureEnvelope"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    IntentId:
      name: intent_id
      in: path
      required: true
      schema: { type: string }
    ApprovalId:
      name: approval_id
      in: path
      required: true
      schema: { type: string }
    PolicyId:
      name: policy_id
      in: path
      required: true
      schema: { type: string }
    ConnectorId:
      name: connector_id
      in: path
      required: true
      schema: { type: string }
    GrantId:
      name: grant_id
      in: path
      required: true
      schema: { type: string }
    ExecutionId:
      name: execution_id
      in: path
      required: true
      schema: { type: string }
    BindingName:
      name: name
      in: path
      required: true
      schema: { type: string }
      description: |
        Full binding name in `<kind>/<service>/<identity>` form (e.g.
        `api_key/linear/team`). The same string is the vault path the
        runtime resolves at credential-mediation time.
    PageSize:
      name: page_size
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    PageToken:
      name: page_token
      in: query
      schema:
        type: string

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    VaultLocked:
      description: Vault is locked — unlock with POST /v1/users/me/passphrase/unlock
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Conflict with current resource state
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Failure:
      description: |
        Structured failure envelope per ADR-0010 (action-execution and
        gateway responses).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FailureEnvelope"

  schemas:
    Jwks:
      type: object
      required: [keys]
      properties:
        keys:
          type: array
          items:
            $ref: "#/components/schemas/Jwk"

    Jwk:
      type: object
      required: [kty, kid]
      properties:
        kty:
          type: string
        kid:
          type: string
        alg:
          type: string
        use:
          type: string
        n:
          type: string
        e:
          type: string
        crv:
          type: string
        x:
          type: string
        "y":
          type: string

    HealthResponse:
      type: object
      required: [status, service, version, timestamp]
      properties:
        status:
          type: string
          enum: [ok, degraded, down]
        service:
          type: string
        version:
          type: string
        timestamp:
          type: string
          format: date-time

    StatusResponse:
      type: object
      required: [version, vault_state, action_count, connector_count, binding_count]
      description: |
        Operational snapshot returned by `GET /v1/status`. Surfaced
        through the `aileron status` CLI and the `/aileron status`
        agent slash-command. Read-only; safe to poll.
      properties:
        version:
          type: string
          description: Daemon version string (matches `aileron version`).
        commit:
          type: string
          description: Short git commit the daemon was built from. May be empty for unstamped builds.
        listen_addr:
          type: string
          description: |
            Address the daemon is listening on (e.g. `127.0.0.1:54321`).
            Best-effort; empty when the runtime can't introspect its
            own listener (most embedded contexts).
        action_count:
          type: integer
          description: Number of installed actions in `~/.aileron/actions/`.
        connector_count:
          type: integer
          description: |
            Number of connector tarballs in the content-addressed
            store (`~/.aileron/store/connectors/sha256/`).
        binding_count:
          type: integer
          description: |
            Number of credential bindings in the vault. Surfaced as
            metadata-only — the vault doesn't have to be unlocked
            to count them.
        vault_state:
          type: string
          enum: [missing, locked, unlocked, dev]
          description: |
            `missing` — no vault file at the canonical path.
            `locked` — file exists but the daemon hasn't unlocked it.
            `unlocked` — daemon holds the KEK; bindings are resolvable.
            `dev` — daemon is using the in-memory dev-mode vault
            (random per-process KEK; not the persistent file).
        gateway_url:
          type: string
          description: |
            URL of the embedded gateway, when running under
            `aileron launch`. Empty for standalone-server invocations.
        session_id:
          type: string
          description: |
            Launch session id when the daemon is part of an
            `aileron launch` session. Empty otherwise.

    Error:
      type: object
      required: [error]
      description: |
        Generic error envelope used by CRUD endpoints (intents, approvals,
        policies, accounts, auth). Action-execution and gateway endpoints
        use the structured `FailureEnvelope` instead, per ADR-0010.
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            details:
              type: array
              items:
                type: object
                additionalProperties: true
            request_id: { type: string }

    FailureEnvelope:
      type: object
      required: [error]
      description: |
        Structured failure envelope ratified by [ADR-0010][adr10] for
        errors returned to the calling action and through it to the
        agent. Used on the gateway endpoints (`/v1/chat/completions`,
        `/v1/messages`) and on action / connector install responses.

        [adr10]: https://docs.withaileron.ai/adr/0010-failure-handling
      properties:
        error:
          type: object
          required: [class, message, retriable, boundary]
          properties:
            class:
              $ref: "#/components/schemas/FailureClass"
            message:
              type: string
              description: |
                Human-readable description; safe to show end users. Does
                not contain credentials or sensitive payload.
            retriable:
              type: boolean
              description: Whether the failure is safe to retry.
            boundary:
              $ref: "#/components/schemas/FailureBoundary"
            audit_id:
              type: string
              description: |
                Reference into the audit log for full context. Stamped
                by the audit recorder before the response is written.
            details:
              type: object
              additionalProperties: true
              description: Class-specific additional fields.

    FailureClass:
      type: string
      description: |
        Closed taxonomy of failure classes per ADR-0010. Adding a value
        requires an ADR amendment.
      enum:
        - capability_denied
        - binding_required
        - binding_failed
        - resource_limit_exceeded
        - connector_runtime_error
        - network_error
        - external_api_error
        - hash_mismatch
        - signature_failure

    FailureBoundary:
      type: string
      description: |
        Layer that produced the failure. The closed set excludes `user`
        which is reserved for post-MVP per-invocation approval flows.
      enum:
        - sandbox
        - connector_manifest
        - action
        - runtime
        - external

    Pagination:
      type: object
      properties:
        next_page_token:
          type: string
          nullable: true

    IntentStatus:
      type: string
      enum: [pending_policy, pending_approval, approved, denied, executing, succeeded, failed, cancelled, expired]

    ApprovalStatus:
      type: string
      enum: [pending, approved, denied, modified, delegated, expired, cancelled]

    PolicyStatus:
      type: string
      enum: [draft, active, archived]

    ConnectorType:
      type: string
      enum: [payments, source_control, cloud, deployment, email, calendar, ticketing, crm, erp, secret_manager, internal_api, custom]

    RiskLevel:
      type: string
      enum: [low, medium, high, critical]

    DecisionDisposition:
      type: string
      enum: [allow, allow_modified, require_approval, deny, require_more_evidence]

    ActorRef:
      type: object
      required: [id, type]
      properties:
        id: { type: string }
        type:
          type: string
          enum: [agent, human, service, connector_runtime]
        display_name: { type: string }

    ActionTarget:
      type: object
      required: [kind]
      properties:
        kind:
          type: string
          enum: [vendor, repository, environment, api, secret, calendar, email_recipient, ticket, cloud_resource, custom]
        id: { type: string }
        display_name: { type: string }

    Money:
      type: object
      required: [amount, currency]
      properties:
        amount:
          type: integer
          description: Amount in minor units
          minimum: 0
        currency:
          type: string
          minLength: 3
          maxLength: 3

    Recipient:
      type: object
      required: [email]
      properties:
        name: { type: string }
        email:
          type: string
          format: email

    AttachmentRef:
      type: object
      properties:
        name: { type: string }
        mime_type: { type: string }
        url: { type: string, format: uri }
        storage_ref: { type: string }

    CalendarAttendee:
      type: object
      required: [email]
      properties:
        name: { type: string }
        email:
          type: string
          format: email
        optional:
          type: boolean
          default: false

    LineItem:
      type: object
      required: [description, quantity, unit_amount]
      properties:
        description:
          type: string
        quantity:
          type: integer
          minimum: 1
        unit_amount:
          $ref: "#/components/schemas/Money"
        sku:
          type: string

    GitAction:
      type: object
      properties:
        provider:
          type: string
          enum: [github, gitlab, bitbucket, custom]
        repository:
          type: string
        branch:
          type: string
        base_branch:
          type: string
        commit_shas:
          type: array
          items:
            type: string
        files_changed:
          type: array
          items:
            type: string
        pr_title:
          type: string
        pr_body:
          type: string
        labels:
          type: array
          items:
            type: string
        reviewers:
          type: array
          items:
            type: string
        checks_required:
          type: array
          items:
            type: string
        issue_title:
          type: string
        issue_body:
          type: string
        issue_labels:
          type: array
          items:
            type: string
        issue_assignees:
          type: array
          items:
            type: string

    DeployAction:
      type: object
      properties:
        provider:
          type: string
          enum: [kubernetes, vercel, netlify, aws, gcp, azure, flyio, custom]
        service:
          type: string
        environment:
          type: string
        artifact_ref:
          type: string
        image_ref:
          type: string
        cluster:
          type: string
        namespace:
          type: string
        strategy:
          type: string
          enum: [rolling, blue_green, canary, replace, custom]
        rollback_supported:
          type: boolean
        change_ticket_id:
          type: string
        maintenance_window_id:
          type: string

    CloudAction:
      type: object
      properties:
        provider:
          type: string
          enum: [aws, gcp, azure, cloudflare, custom]
        account_id:
          type: string
        region:
          type: string
        resource_type:
          type: string
        resource_id:
          type: string
        operation:
          type: string
        estimated_cost:
          $ref: "#/components/schemas/Money"
        tags:
          type: object
          additionalProperties:
            type: string

    EmailAction:
      type: object
      properties:
        from:
          $ref: "#/components/schemas/Recipient"
        to:
          type: array
          items:
            $ref: "#/components/schemas/Recipient"
        cc:
          type: array
          items:
            $ref: "#/components/schemas/Recipient"
        bcc:
          type: array
          items:
            $ref: "#/components/schemas/Recipient"
        subject:
          type: string
        body_text:
          type: string
        body_html:
          type: string
        attachments:
          type: array
          items:
            $ref: "#/components/schemas/AttachmentRef"
        thread_ref:
          type: string
        send_mode:
          type: string
          enum: [send_now, draft_only]

    CalendarAction:
      type: object
      properties:
        provider:
          type: string
          enum: [google_calendar, outlook, custom]
        title:
          type: string
        description:
          type: string
        attendees:
          type: array
          items:
            $ref: "#/components/schemas/CalendarAttendee"
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        timezone:
          type: string
        location:
          type: string
        conference_type:
          type: string
          enum: [none, google_meet, zoom, teams, custom]
        calendar_id:
          type: string
        visibility:
          type: string
          enum: [default, public, private]

    PaymentBeneficiary:
      type: object
      properties:
        name: { type: string }
        email:
          type: string
          format: email
        department: { type: string }

    PaymentAction:
      type: object
      properties:
        vendor_name:
          type: string
        vendor_id:
          type: string
        amount:
          $ref: "#/components/schemas/Money"
        merchant_category:
          type: string
        budget_code:
          type: string
        funding_source_id:
          type: string
        payment_instrument_preference:
          type: string
          enum: [virtual_card, ach, wallet, network_proxy, unspecified]
        beneficiary:
          $ref: "#/components/schemas/PaymentBeneficiary"
        line_items:
          type: array
          items:
            $ref: "#/components/schemas/LineItem"
        renewal:
          type: boolean
        contract_term:
          type: string
        recurring_interval:
          type: string
          enum: [none, monthly, quarterly, annual]
        merchant_reference:
          type: string

    ProcurementAction:
      type: object
      properties:
        request_type:
          type: string
          enum: [software, travel, equipment, contractor, services, other]
        vendor_name:
          type: string
        amount_estimate:
          $ref: "#/components/schemas/Money"
        justification:
          type: string
        requestor:
          type: string
        cost_center:
          type: string
        legal_review_required:
          type: boolean
        security_review_required:
          type: boolean
        line_items:
          type: array
          items:
            $ref: "#/components/schemas/LineItem"

    DomainAction:
      type: object
      description: |
        Carries action-type-specific fields. Exactly one field must be populated,
        corresponding to the prefix of ActionIntent.type:
          - git.* → git
          - deploy.* → deploy
          - cloud.* → cloud
          - email.* → email
          - calendar.* → calendar
          - payment.* → payment
          - procurement.* → procurement
        The server rejects requests where the populated domain field does not
        match the action type prefix.
      minProperties: 1
      maxProperties: 1
      properties:
        git:
          $ref: "#/components/schemas/GitAction"
        deploy:
          $ref: "#/components/schemas/DeployAction"
        cloud:
          $ref: "#/components/schemas/CloudAction"
        email:
          $ref: "#/components/schemas/EmailAction"
        calendar:
          $ref: "#/components/schemas/CalendarAction"
        payment:
          $ref: "#/components/schemas/PaymentAction"
        procurement:
          $ref: "#/components/schemas/ProcurementAction"

    ActionIntent:
      type: object
      required: [type, summary]
      properties:
        type:
          type: string
          examples:
            - git.pull_request.create
            - git.issue.create
            - git.issue.comment
            - deploy.release
            - cloud.resource.mutate
            - email.send
            - email.draft
            - calendar.event.create
            - payment.charge
            - procurement.request.submit
        summary:
          type: string
        justification:
          type: string
        target:
          $ref: "#/components/schemas/ActionTarget"
        domain:
          $ref: "#/components/schemas/DomainAction"
        metadata:
          type: object
          additionalProperties: true

    IntentContext:
      type: object
      properties:
        environment:
          type: string
          examples: [development, staging, production]
        source_platform:
          type: string
          examples: [openclaw, claude_code, codex, openhands, goose, cline, continue, langgraph, custom]
        source_session_id:
          type: string
        source_trace_id:
          type: string
        ip_address:
          type: string
        risk_hints:
          type: array
          items:
            type: string
        user_present:
          type: boolean
        temporary_grant_id:
          type: string

    CreateIntentRequest:
      type: object
      required: [idempotency_key, agent_id, workspace_id, action]
      properties:
        idempotency_key:
          type: string
        agent_id:
          type: string
        workspace_id:
          type: string
        action:
          $ref: "#/components/schemas/ActionIntent"
        context:
[...]
